@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #4ecb81;
}

.wrapper{
    width: 500px;
    background: #fff;
    border-radius: 7px;
    padding: 20px 25px 15px;
}

header h1{
    font-size: 27px;
    font-weight: 500;

}

header p{
    font-size: 18px;
    margin-top: 5px;

}

form{
    margin: 20px 0 27px;
}

form input{
    width: 100%;
    height: 60px;
    outline: none;
    border: 1px solid #b3b2b2;
    border-radius: 5px;
    font-size: 19px;
    padding: 0 17px;
}

form button{
    opacity: 0.7;
    width: 100%;
    border: none;
    outline: none;
    background: #a26d30;
    color: #fff;
    padding: 15px 0;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    pointer-events: none;
}

form input:valid ~ button{
    opacity: 1;
    pointer-events: auto;
}